.weather-search {
  margin: 10px;
  padding: 20px;
  min-height: 555px;
  max-width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}

.button-search {
  color: white;
  background: #362a67;
  border: 1px solid #362a67;
}

.button-search:hover {
  background-color: #625692;
  border: 1px solid #625692;
}
